
  
  @keyframes stars-move-in {
    from {
      background-position-y: -100px;
    }
    to {
      opacity: 1;
      background-position-y: 0;
    }
  }

  .moon {
    position: absolute;
    top: 0;
    right: 0;
    position: fixed;
    background: url(https://raw.githubusercontent.com/yagoestevez/fcc-portfolio/master/src/Images/Moon.svg?sanitize=true) right 150% no-repeat;
    background-size: 40% 40%;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    animation: moon-move-in 1.2s 1s forwards;
  }
  
  @keyframes moon-move-in {
    from {
      opacity: 0;
      background-position: right 150%;
    }
    to {
      opacity: 1;
      background-position: top right;
    }
  }


  .silhouette {
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(https://raw.githubusercontent.com/yagoestevez/fcc-portfolio/master/src/Images/Silhouette.svg?sanitize=true) bottom left no-repeat;
    width: 50%;
    height: 50%;
    opacity: 0;
    animation: silhouette-move-in 1000ms 800ms forwards;
  }
  
  @keyframes silhouette-move-in {
    from {
      background-position-x: 0;
    }
    to {
      opacity: 1;
      background-position-x: 50%;
    }
  }

